@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --secondary-color: #696D76;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-primary: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

input, button {
    border: none;
    outline: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 45px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    background: var(--primary-color);
    border-radius: 6px;

    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

/* ===== Header ===== */
.header {
    margin-top: 42px;
    padding: 20px 0 13px;
    background: var(--white-color);
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 11;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
}

/* ===== Navbar ===== */
.navbar-list{ 
    display: flex;
    margin-left: 70px;
}

.navbar-item {
    padding: 8px 16px;
    position: relative;
}

.navbar-item__link,
.header-action__link {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75%;
}

.navbar-item__active{
    color: var(--primary-color);
    font-weight: 600;
}

.navbar-item__active::before {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 0;
    width: 47px;
    height: 1px;
    background: #7264D6;
    z-index: 1;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    margin-right: 28px;
    font-weight: 600;
    color: var(--primary-color);
}

/* ===== service ===== */
.service {
    margin-top: 76px;
    color: var(--secondary-color);
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.service-content__subtitle {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75%; 
    padding-left: 25px;
}

.service-content__subtitle::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--secondary-color);
}

.service-content__heading,
.service-content__title  {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 116.667%;
}

.service-content__heading span {
    color: #7264D6;
}

.service-content__description {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height:  166.667%;
}

.service-form {
    margin-top: 40px;
    position: relative;
}

.service-form input {
    width: 100%;
    padding: 23px 200px 23px 23px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.service-form__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    background: #7264D6;
}

.service-content__note {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 171.429%;
}

/* ===== Service 2 ===== */
.service-item__2nd {
    margin-top: 160px;
}

.service-item__2nd .service-image,
.service-item__4nd .service-image {
    order: 1;
}

.service-item__2nd .service-content, 
.service-item__4nd .service-content {
    order: 2;
}

.service-content__title {
    font-size: 4rem;
    line-height: 125% ; 
}

.service-content__list {
    margin-top: 70px;
}

.service-content__list > li {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 145.455%; 
    margin-bottom: 30px;
}

.service-content__list > li > p {
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

/* ===== Service 3 ===== */
.service-item__3nd,
.service-item__4nd {
    margin-top: 160px;
}

.service-content__description-3nd ,
.service-content__description-4nd {
    width: 470px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%; 
}

.service-content__list-3nd ,
.service-content__list-4nd {
    margin-top: 28px;
}

.service-content__list-3nd li,
.service-content__list-4nd li{
    position: relative;
    padding-left: 20px;
    margin-top: 18px;
}

.service-content__list-3nd li::before ,
.service-content__list-4nd li::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    background: #7264D6;
    border-radius: 50%;
}

.service-content__btn {
    margin-top: 38px;
}
