@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --secondary-color: #696d76;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-primary: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
}
