@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #212832;
    --secondary-color: #696D76;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-primary: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

input, button {
    border: none;
    outline: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 45px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    background: var(--primary-color);
    border-radius: 6px;

    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
}

/* ===== Header ===== */
.header {
    margin-top: 42px;
    padding: 20px 0 13px;
    background: var(--white-color);
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 11;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
}

/* ===== Navbar ===== */
.navbar-list{ 
    display: flex;
    margin-left: 70px;
}

.navbar-item {
    padding: 8px 16px;
    position: relative;
}

.navbar-item__link,
.header-action__link {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%;
}

.navbar-item__active{
    color: var(--primary-color);
    font-weight: 600;
}

.navbar-item__active::before {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 0;
    width: 47px;
    height: 1px;
    background: #7264D6;
    z-index: 1;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    margin-right: 28px;
    font-weight: 600;
    color: var(--primary-color);
}

/* ===== Hero ===== */
.hero {
    margin-top: 76px;
    height: calc(100vh - 195px);
    color: var(--secondary-color);
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content__subtitle {
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; 
    padding-left: 25px;
}

.hero-content__subtitle::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--secondary-color);
}

.hero-content__heading {
    width: 500px;
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 116.667%;
}

.hero-content__heading span {
    color: #7264D6;
}

.hero-content__description {
    width: 540px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height:  166.667%;
}

.hero-form {
    width: 540px;
    margin-top: 40px;
    position: relative;
}

.hero-form input {
    width: 100%;
    padding: 23px 200px 23px 23px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    background: #7264D6;
}

.hero-content__note {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 171.429%;
}

.hero-image img {
    display: block;
    max-width: 570px;
}